.bg--extra {
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle, #1c1f1a, #000000, #000000);
  }
}

.bg {
  position: relative;
  background: linear-gradient(
    to left bottom,
    #bec7bd,
    #c6cfc5,
    #cdd7cc,
    #d5dfd4,
    #dde7dc,
    #dde7dc,
    #dde7dc,
    #dde7dc,
    #d5dfd4,
    #cdd7cc,
    #c6cfc5,
    #bec7bd
  );
  transition: background 500ms ease-in;

  &::after {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/bg-texture.png");
    opacity: 0.03;
  }
}

.bg--noise {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: fixed;
    z-index: -11;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent
      url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: 0.9;
  }
}

.bg--dark {
  background: linear-gradient(
    to left bottom,
    #000000,
    #020202,
    #040303,
    #060504,
    #070706,
    #070706,
    #070706,
    #070706,
    #060504,
    #040303,
    #020202,
    #000000
  );
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
