$mobile: 500px;
$tablet: 800px;

:root {
  --Color1: #000000;
  --Color2: #ffffff;
  --hColor: var(--Color1);
  --pColor: var(--Color1);
  --primary: var(--Color1);
  --secondary: var(--Color2);
  --accent: var(--Color1);
  --bg: var(--Color2);
  --wrapper: 128rem;
  --wrapperPadding: 4rem;
  --defaultSpacer: 16rem;
  --MaxPWidth: 67rem;
  --titleSpacer: 0.8rem;
  --buttonSpacer: 2.4rem;
  --btnTopPadding: 0.8rem;
  --btnSidePadding: 1.6rem;
  --foldSpacing: 2.4rem;
  --foldIconSpacing: 2.4rem;
  --foldIconSpacingSize: 4rem;

  @media (max-width: $mobile) {
    --wrapper: 128rem;
    --wrapperPadding: 1.6rem;
    --defaultSpacer: 12rem;
    --MaxPWidth: 67rem;
    --titleSpacer: 0.8rem;
    --buttonSpacer: 2.4rem;
    --btnTopPadding: 0.8rem;
    --btnSidePadding: 1.6rem;
  }

  @media (max-width: $tablet) {
    --wrapper: 128rem;
    --wrapperPadding: 2.4rem;
    --defaultSpacer: 16rem;
    --MaxPWidth: 67rem;
    --titleSpacer: 0.8rem;
    --buttonSpacer: 2.4rem;
    --btnTopPadding: 0.8rem;
    --btnSidePadding: 1.6rem;
  }
}

$spaceGrotesk: 'Space Grotesk', sans-serif;
$robotoMono: 'Roboto Mono', sans-serif;

h1,
.h1 {
  font-family: $spaceGrotesk;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-decoration: none;
  text-transform: none;
}

h2,
.h2 {
  font-family: $spaceGrotesk;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  text-decoration: none;
  text-transform: none;
}

h3,
.h3 {
  font-family: $spaceGrotesk;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-decoration: none;
  text-transform: none;
}

p,
.p {
  font-family: $robotoMono;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: none;
  text-transform: none;
}

h4,
.h4 {
  font-family: $spaceGrotesk;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-decoration: none;
  text-transform: none;
}

.tiny {
  font-family: $spaceGrotesk;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: none;
  text-transform: none;
}

.btn {
  font-family: $spaceGrotesk;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.p--bold {
  font-family: $robotoMono;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-decoration: none;
  text-transform: none;
}

$defaultFont: $robotoMono;
