@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #dbe1e0;
}

body {
  background-color: var(--bg);
}

/* defaults */
@import "./defaults/defaults";

/* styles */
@import "./styles/1-atoms/_all.scss";
@import "./styles/2-molecules/_all.scss";
@import "./styles/3-organisms/_all.scss";
@import "./styles/4-templates/_all.scss";

/* global hide class */
.hide {
  display: none !important;
}
